# Ignore build artifacts
/build/
*.o
*.out
*.exe
*.dll
*.a
*.lib
*.obj

# Ignore CMake files
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Ignore Python virtual environments
/py/venv/
/py/.venv/
/py/__pycache__/
/py/*.pyc
/py/.pytest_cache/

# Ignore sandbox and testing files
/test

# Ignore VS code settings
.vscode

# Ignore extra output during testing
input_matrix.txt