# Ignore build artifacts
**/build
*.o
*.out
*.exe
*.dll
*.a
*.lib
*.obj

# Ignore Python virtual environments
*venv
*.venv
*__pycache__/
*.pyc
*.pytest_cache/

# Ignore VS code settings
.vscode

# Ignore extra output during testing
sample.png
output.png
*.bin
*.tiff

# Ignore excess benchmark output
**/SSNP-IDT